<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" th:href="@{/css/login.css}" />
<title>くりこと愉快な仲間たち</title>
</head>
<body>
	<main>
		<div class="title">
			<p>くりこと愉快な仲間たち<br>ログインページ</p>
		</div>
		<div class="login_form">
			<form th:action="@{/customer/login}" method="post"
				th:object="${loginForm}" name="loginForm">
				<table class="input_area">
					<tr>
						<td>ID</td>
						<td><input type="text" name="user_id"></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" name="password"></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="ログイン"><br /></td>
					</tr>
				</table>
				<div style="color: red;" th:each="list : ${err_list}" th:text=${list}></div>
				新規会員登録は<a th:href="@{/customer/register}">こちら</a><br /> 管理者ページ<br />
				<p th:text="${user_name}" />
			</form>
		</div>
	</main>
</body>
</html>